@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.section2 {
    background: rgb(93, 165, 201);
    height: 400px;
    width: 100%;
    margin-top: 1 0px;
    padding-top: 30px;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
}